.video-js .vjs-big-play-button {
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border-width: 1px;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder {
  position: absolute;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.vjs-icon-play:before {
  line-height: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
}

.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
  z-index: 1;
}

.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3,
video.video-js,
video.vjs-tech,
.video-js .vjs-tech{
  position: relative !important;
  width: 100%;
  height: 100% !important;
  max-width: 100% !important;
  padding-top: 0 !important;
  line-height: 0;
}

#proportions {
  padding-top: 56.25%;
}

.video-js .vjs-progress-holder {
  height: 1em;
}

.vjs-load-progress div,
.vjs-load-progress,
.vjs-progress-holder.vjs-slider.vjs-slider-horizontal,
.vjs-play-progress.vjs-slider-bar {
  border-radius: 10px;
}

.video-js .vjs-play-progress:before{
  display: none;
}
